$t-color : black ;
$bg-color : white ;
$primary-color : yellow;

html {
    scroll-behavior: smooth;
}

body {
    background: #333;
    font-family: 'Poppins', sans-serif;
    background: url("../img/bg-pattrens/bg4.png");
    overflow-x: hidden;

    &.hide {
        overflow: hidden;
    }
}


.container {
    max-width: 1100px;
    position: relative;
    margin: auto;
}

.section {
    min-height: 100vh;
    
}
// .section-main{
//     background: white;
// }

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    // background: white;
    flex-wrap: wrap;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}
.flex-col {
    flex-direction: column;
}
.flex-js {
    justify-content: space-between;
}

.effect{
    position: absolute;
    top: 20%;
    right: 8%;
    height: 40px;
    width: 40px;
    border: 2px solid rgb(230, 230, 1);
    animation: spin 5s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}

a {
    text-decoration: none;
    // color: $t-color;
}

p {
    color: $t-color;
    line-height: 1.5;
}

.img-box {
    // width: 200px;
    position: relative;

    img {
        width: 100%;
    }
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2em;
    border-radius: 30px;
    transition: 0.3s ease;
    border: 2px solid yellow;
    font-weight: 600;
    color: black;
    
    &:hover {
        background: yellow;
        border: 2px solid transparent;
    }
}

.heading {
                
    position: relative;
    display: inline-block;
     margin: 4em auto;

    h3{
        font-size: 2em;
        display: inline-block;
        padding-bottom: 10px;
    }
    span {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 60%;
        height: 5px;
        background: $primary-color;
    }

}